*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p
 {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: 400;
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


