/* CSS Variables */
:root {
    /* colors */
    --primary-color: #089CE7;
    --secondary-color: #FF7D00;
    --tertiary-color: #83C7EA;
    --light-shade: #F9F9F9;
    --dark-shade: #252525; 

    /* fonts */
    --h1-font-mobile: 2rem;
    --h2-font-mobile: 1.25rem;
    --p-font-mobile: 1rem;
}

body {
    font-size: 10px;
    color: var(--dark-shade);
}

h1 {
    font-size: var(--h1-font-mobile);
}

h2 {
    font-size: var(--h2-font-mobile)
}

p {
    font-size: var(--p-font-mobile);
}

.page-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.flex {
    display: flex;
}

    /* Link Styles */
    a {
        color: var(--dark-shade);
        text-decoration: none;
        /* border-bottom: 3px solid var(--primary-color);
        padding-bottom: 3px; */
        transition-duration: 250ms;
    }

    
/* Header */


header {
    background: var(--light-shade);
    text-align: center;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 75px;
}

.logo {
    color: var(--dark-shade);
    font-size: 2em;
    font-weight: bold;
    line-height: 75px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: hsla(0, 0%, 15%, 0.5);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
    /* backdrop-filter: blur(2px); */
    /* display: none; */
}

nav ul {
    font-size: 2em;
    margin-left: 1em;
}

nav li {
    margin: 1em 0;
}

nav a {
    color: var(--light-shade);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#navigation-toggle:checked ~ nav {
    transform: scale(1, 1)
}

#navigation-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


#navigation-toggle {
    display:none;
}

#navigation-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}

#navigation-toggle-label span,
#navigation-toggle-label span::before,
#navigation-toggle-label span::after {
    display: block;
    background-color: #FF7D00;
    width: 3em;
    height: 4px;
}

#navigation-toggle-label span::before,
#navigation-toggle-label span::after {
    content: "";
    position: absolute;
}

#navigation-toggle-label span::before {
    top: 25px;
}

#navigation-toggle-label span::after {
    bottom: 25px;
}

/* hero */
.hero__copy {
    flex-direction: column;
    background-color: var(--light-shade);
    margin: 1.5em auto;
    width: 90%;
    border: 3px solid var(--dark-shade);
    box-shadow: 7px 7px 0 var(--primary-color);
}

.hero__copy > * {
    padding: 5px 20px 10px;
}



/* main */
.main {
    background-color: var(--light-shade);
    margin: 1.5em auto;
    width: 90%;
    border: 3px solid var(--dark-shade);
    box-shadow: -7px 7px 0 var(--secondary-color);
}

.main__title {
    padding: 2em;
}


/* about me */
.about-me {
    background-color: var(--light-shade);
    margin: 1.5em auto;
    width: 90%;
    border: 3px solid var(--dark-shade);
    box-shadow: 7px 7px 0 var(--primary-color);
}

.about-me__copy {
    padding: 2em;
}

.about-me__copy h2 {
    padding-bottom: 1em;
}













/* Footer */
footer {
    position: absolute; /* Fix footer to the bottom of the page. */
    bottom: 0;
    width: 100%;
    background-color: var(--light-shade);
}

footer ul {
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer li {
    padding: 1em;
}

footer a > * {
    font-size: 2em;
}