/* CSS Variables */
:root {
    /* colors */
    --primary-color: #089CE7;
    --secondary-color: #FF7D00;
    --tertiary-color: #83C7EA;
    --light-shade: #F9F9F9;
    --dark-shade: #252525; 
}

body {
    font-size: 10px;
    color: var(--dark-shade);
}

    /* Link Styles */
    a {
        color: var(--dark-shade);
        text-decoration: none;
        /* border-bottom: 3px solid var(--primary-color);
        padding-bottom: 3px; */
        transition-duration: 250ms;
    }

    
/* Header */


header {
    background: var(--light-shade);
    text-align: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 75px;
}

.logo {
    color: var(--dark-shade);
    font-size: 2em;
    font-weight: bold;
    line-height: 75px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: var(--light-shade);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
    /* display: none; */
}

nav ul {
    font-size: 2em;
    margin-left: 1em;
}

nav li {
    margin: 1em 0;
}

nav a {
    color: #252525;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#navigation-toggle:checked ~ nav {
    transform: scale(1, 1)
}

#navigation-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


#navigation-toggle {
    display:none;
}

#navigation-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}

#navigation-toggle-label span,
#navigation-toggle-label span::before,
#navigation-toggle-label span::after {
    display: block;
    background-color: #FF7D00;
    width: 3em;
    height: 4px;
}

#navigation-toggle-label span::before,
#navigation-toggle-label span::after {
    content: "";
    position: absolute;
}

#navigation-toggle-label span::before {
    top: 25px;
}

#navigation-toggle-label span::after {
    bottom: 25px;
}